* {
    text-decoration: none;
}

.topo {
    background-color: #e4b308;
    text-align: center;
    padding: 3px;
    font-size: 20px;
}

.link-apinfo {
    text-align: center;
}

.apinfo {
    padding-right: 300px;
}

.menu-inicial {
    display: flex;
    padding-top: 20px;
    width: 700px; 
    margin-left: auto;
    margin-right: auto; 
}

button .fale-conosco-botao {
    color: white;
    text-decoration: none;
}


.container-pesquisa {
    background-color: #0477b8;
    padding: 30px;
    width: 940px;
    margin: 0 auto;
}
.div-pesquisa {
    display: flex;
}

.pesquisa-vagas {
    text-decoration: none;
}

.pesquisa-cv {
    color: white;    
}

.buscas {
    background-color: gray;
    float: left;
    width: 80%;
    padding: 10px 2px;
    border: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-bottom: 10px;
}

.container .mini-texto {
    display: inline-block;
    width: 200px;
}

.mini-texto p {
    margin: 0 0 10px 0;
    text-align: center;
    font: inherit;
}

.pesquisa-link {
    padding-left: 330px;
    padding-right: 700px;
}

.bons-curriculos {
    border: 1px solid;
}

h2 {
    text-align: center;
}

.pesquisa-link-fundo {
    color: blue;
    background-color: #F3F781;
    margin-top: 30px;
}

.pesquisa-link-fundo2 {
    background-color: #F3E2A9;
}

.espaco {
    margin-left: 30px;
}

.bons-curriculos .div-curriculo1 {
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.div-curriculo2 {
    border-bottom: 1px solid #ccc;
}

.boas-vagas-borda {
    border: 1px solid;
}

.boas-vagas-link {
    border-bottom: 1px solid #ccc;
}

.h2-vagas {
    text-align: left;
}

.forum-depoimentos {
    border-bottom: 2px solid #ccc;
    display: flex;
    padding-bottom: 10px;
}

.botao-forum {
    text-decoration: none;
}

.footer1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    display: flex;
}

.footer-espaco {
    padding-left: 5px;
}