* {
    text-decoration: none;
}

body {
    background-color: red;    
    color: green;
}

.accessibility {
    /* Exemplo de estilos para o modo de acessibilidade */
    background-color: black;
    color: white;
    /* Adicione mais estilos conforme necessário */
  }

.topo {
    background-color: #e4b308;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
}

.link-apinfo {
    text-align: center;
}

.apinfo {
    padding-right: 30rem;
}

.menu-inicial {
    display: flex;
    padding-top: 20px;
    width: 70rem; 
    margin-left: auto;
    margin-right: auto; 
}

button .fale-conosco-botao {
    color: white;
    text-decoration: none;
}


.container-pesquisa {
    background-color: #0477b8;
    padding: 30px;
    width: 64rem;
    margin: 0 auto;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    transform: translate3d(5px, 28px, 0px); /* distancia entre menu e btn */
    top: 10px;
    left: 0px;
    will-change: transform;
}
.dropdown {
    display: inline-block; /* deixa o LO do "tamanho do próprio texto" e não da largura inteira da tela*/
    list-style: none; /* rita a "bolinha" do LI*/
}

.div-pesquisa {
    display: flex;
}

.pesquisa-vagas {
    text-decoration: none;
}

.pesquisa-cv {
    color: white;    
}

.buscas {
    background-color: gray;
    float: left;
    width: 80%;
    padding: 10px 2px;
    border: none;
}

.container {
    width: 64rem;
    margin: 0 auto;
    padding-bottom: 10px;
}

.container .mini-texto {
    display: inline-block;
    width: 200px;
}

.mini-texto p {
    margin: 0 0 10px 0;
    text-align: center;
    font: inherit;
}

.pesquisa-link {
    padding-left: 330px;
    padding-right: 700px;
}

.bons-curriculos {
    border: 1px solid;
}

h2 {
    text-align: center;
}

.pesquisa-link-fundo {
    color: blue;
    background-color: #F3F781;
    margin-top: 30px;
}

.pesquisa-link-fundo2 {
    background-color: #F3E2A9;
}

.espaco {
    margin-left: 30px;
}

.bons-curriculos .div-curriculo1 {
    display: inline-block;
    border-bottom: 1px solid #ccc;
}

.div-curriculo2 {
    border-bottom: 1px solid #ccc;
}

.boas-vagas-borda {
    border: 1px solid;
}

.boas-vagas-link {
    border-bottom: 1px solid #ccc;
}

.h2-vagas {
    text-align: left;
}

.forum-depoimentos {
    border-bottom: 2px solid #ccc;
    display: flex;
    padding-bottom: 10px;
}

.botao-forum {
    text-decoration: none;
}

.footer1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    display: flex;
}

.footer-espaco {
    padding-left: 5px;
}

@media (max-width: 768px) {
    /* Exemplo de estilo para telas menores que 768px de largura */
    .dropdown-toggle {
      font-size: 14px;
    }
    /* Outros estilos responsivos */
  }

.displaydividido {
    display: flex;
}